






:root {
    --max-margin: 96px;
    --main-max-width: 1024px;
    --main-margin: min(7.8947368421vw, var(--max-margin)); /* Correct */
    --main-width: min(calc(100vw - 2 * var(--main-margin)), var(--main-max-width));
    --u: calc(1/64 * var(--main-width));
    --f: calc(10/7 * var(--u));
    --f-neg-margin: calc(-0.047 * var(--f));
    --menu-b-radius: 64px;

    --bg-grid:  repeating-linear-gradient(
                    #fab4   calc(0*var(--u))    calc(0.05*var(--u)),
                    #fff0   calc(0.05*var(--u)) calc(3.95*var(--u)),
                    #fab4   calc(3.95*var(--u)) calc(4*var(--u))
                ),
                repeating-linear-gradient(
                    to right,
                    #fab4   calc(0*var(--u))    calc(0.05*var(--u)),
                    #fff0   calc(0.05*var(--u)) calc(3.95*var(--u)),
                    #fab4   calc(3.95*var(--u)) calc(4*var(--u))
                ),
                repeating-linear-gradient(
                    #fab2   calc(0*var(--u))    calc(0.05*var(--u)),
                    #fff0   calc(0.05*var(--u)) calc(0.95*var(--u)),
                    #fab2   calc(0.95*var(--u)) calc(1*var(--u))
                ),
                repeating-linear-gradient(
                    to right,
                    #fab2   calc(0*var(--u))    calc(0.05*var(--u)),
                    #fff0   calc(0.05*var(--u)) calc(0.95*var(--u)),
                    #fab2   calc(0.95*var(--u)) calc(1*var(--u))
                )
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

html {
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #ffffff;
    font-family: "Host Grotesk", sans-serif;
    padding: 0;
    overflow-y: visible;
}

svg {
    isolation: isolate;
}

h1, h2, h3 {
    margin: 0;
}

p {
    text-align: left;
    margin: 0;

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.main {
    max-width: var(--main-max-width);

    margin: 0 var(--main-margin);

    overflow: visible;

    display: flex;
    flex-direction: column;

    gap: calc(6*var(--u));
    padding-top: calc(6*var(--u));
}

.main-element {
    /*border: mediumspringgreen 1px solid;*/
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 63%;
    overflow: visible;


}

h1 {
    font-size: calc(4 * var(--f));
    font-weight: 800;

    margin: 0 calc(4 * var(--f-neg-margin));

    text-align: left;
    line-height: 0.7;

    color: #000000;
    overflow: visible;
    white-space: nowrap;
    user-select: none;


}

.text {
    gap: calc(1*var(--u))
}

h3 {
    font-size: calc(2 * var(--f));

    margin: 0 calc(2 * var(--f-neg-margin));

    text-align: left;
    line-height: 0.7;

    overflow: visible;
    white-space: nowrap;
    user-select: none;
}

.paragraph {
    text-align: justify;
    margin-left: calc(1 * var(--f-neg-margin));
    font-size: calc(1 * var(--f));
    background-color: white;
}


.image-container {
    flex-shrink: 0;

    width: calc(14 * var(--u));
    height: calc(14 * var(--u));
    background-color: #2a3731;

    transition: opacity 2000ms cubic-bezier(.45,.46,.37,1);
}

img {
    width: 100%;
    height: 100%;
}



input#glassWidth, input#glassHeight, input#glassRoundness {
    width: 50%;
}

#fifth {
    width: 100%;
}

#image {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.footer {
    background-color: #000000;
    /*background: var(--bg-grid);*/
    height: calc(12 * var(--u));
    box-sizing: border-box;
    padding: calc(2 * var(--u));
    justify-content: space-around;
    gap: calc(2 * var(--u));
}

.footer-info {
    flex: 1 1 0;
    color: #fff;
    gap: calc(1 * var(--u));
    margin: 0;
}

.footer-text {

    user-select: none;
    text-align: justify;
}




.menu-stage {
    position: fixed;
    inset: 0; /* Cover the whole screen */
    display: flex;
    align-items: end;    /* Center vertically */
    justify-content: center; /* Center horizontally */
    pointer-events: none;    /* Don't block the page */
    z-index: 999;
}

.menu {
    position: fixed;


    pointer-events: auto;

    width: 128px;
    height: 128px;

    border-radius: var(--menu-b-radius);

    margin-bottom: 64px;

    display: flex;
    flex-direction: column;

    transition: width 750ms cubic-bezier(.3,.7,0,1),
                height 750ms cubic-bezier(.3,.7,0,1),
                margin-bottom 750ms cubic-bezier(.3,.7,0,1);

    /*border: solid 1px lightcoral;/**/

    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.08),
                0px 16px 36px rgba(0, 0, 0, 0.14),
                0px 37px 80px rgba(0, 0, 0, 0.22);



}

.menuRow1, .menuRow2, .menuRow3 {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    height: available;
}

.menu div div {
    will-change: transform, filter;
    backface-visibility: hidden;
    contain: paint;
    transform: translateZ(0);

    /*border: solid 1px mediumspringgreen;/**/



}

.nw, .ne, .sw, .se {
    aspect-ratio: 1;

    flex: 0 0 0;
}

.c0, .c2 {
    max-width: var(--menu-b-radius);
    width: var(--menu-b-radius);
    flex: 0 0 var(--menu-b-radius);
}

.r0, .r2 {
    max-height: var(--menu-b-radius);
    height: var(--menu-b-radius);
}

.c1 {
    flex-grow: 1;
    position: relative;
    width: available;
}

.r1 {
    flex: 1 1 0;
    height: auto;
}

.n  { backdrop-filter: url(#n ); }
.ne { backdrop-filter: url(#ne); border-top-right-radius: 100%; }
.e  { backdrop-filter: url(#e ); }
.se { backdrop-filter: url(#se); border-bottom-right-radius: 100%;}
.s  { backdrop-filter: url(#s ); }
.sw { backdrop-filter: url(#sw); border-bottom-left-radius: 100%;}
.w  { backdrop-filter: url(#w ); }
.nw { backdrop-filter: url(#nw); border-top-left-radius: 100%;}
.m  { backdrop-filter: url(#m) ; }

.nw, .n, .ne, .w, .m, .e, .sw, .s, .se {
    position: relative;
    min-width: 0;
    min-height: 0;
}

.glassHighlight, .glassShadow {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;

    pointer-events: none;
}

.glassShadow {
    opacity: .3;
}
